{
  "data": [
    {
      "info": "info",
      "infoPreview": "Ansible_Update_Configlet",
      "note": "",
      "action": "associate",
      "nodeType": "configlet",
      "nodeId": "",
      "configletList": [
        "{% for conflet in configletgen_list %}{{ configletgen_list[conflet]['key'] }}{% endfor %}"
      ],
      "configletNameList": [
        "{% for conflet in configletgen_list %}{{ conflet }}{% endfor %}"
      ],
      "configletBuilderList": ["{{ add_builderkey }}"],
      "configletBuilderNamesList": [{% for item in add_buildername %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}],
      "toId": "{{ devices_inventory[item]['key'] }}",
      "toIdType": "netelement",
      "fromId": "",
      "nodeName": "",
      "fromName": "",
      "toName": "{{ item }}",
      "nodeIpAddress": "{{ devices_inventory[item]['ipAddress'] }}",
      "nodeTargetIpAddress": "{{ devices_inventory[item]['ipAddress'] }}",
      "childTasks": [],
      "parentTask": ""
    }
  ]
}
