{
    "Builder": [
{% for configlet in cv_facts['ansible_facts']['configlets'] %}
{% if item.keys()|first in configlet.devices and configlet.type == 'Builder' %}
        "{{ configlet.name }}"
{% endif %}
{% endfor %}
    ],
    "Static": [
{% for configlet in cv_facts['ansible_facts']['configlets'] %}
{% if item.keys()|first in configlet.devices and configlet.type == 'Static' %}
        "{{ configlet.name }}"
{% endif %}
{% endfor %}
    ]
}
