{% set confkeylist = [] %}
{% for outer in configlet_list %}{% for confid in outer %}{% if item == outer[confid]['netElementId'] %}{{confkeylist.append(outer[confid]['key'])}}{% endif %}{% endfor %}{% endfor %}
{ 
  "netElementId": "{{ item }}",
  "configIdList":  [{% for listitem in confkeylist %}"{{ listitem }}"{% if not loop.last %},{% endif %}{% endfor %}],
  "pageType": "validate" 
}

