{
  "previewValues": [
    {
      "fieldId": "string",
      "value": "string"
    }
  ], 
  "configletBuilderId": "{{ add_builderkey }}", 
  "netElementIds": [
    {% for key in netelements -%}
"{{ key }}"{% if not loop.last %}, {% endif %}
    {% endfor %} 
  ],
  "pageType": "container",
  "containerId": "{{ container_inventory[update_container]['key'] }}",
  "containerToId": "{{ container_inventory[update_container]['key'] }}",
  "mode": "assign"
} 
